@import "./../../style/variable";

.card-list {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(87,184,74,0.15);
  -moz-box-shadow: 2px 2px 0px 0px rgba(87,184,74,0.15);
  box-shadow: 2px 2px 0px 0px rgba(87,184,74,0.15);

  .list-icon {
    float: left;
    background: red;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
  }

  .list-area {
    float: left;
    margin-left: 25px;

    .list-title {
      color: #333;
      font-weight: 700;

      font-size: 16px;
      margin-bottom: 5px;
    }
    .list-content {
      color: #999;
      font-size: 12px;
      margin-bottom: 10px;
    }
    .list-time {
      color: #555;
      font-size: 14px;
    }
  }

}

.card-list-prime {
  border-left: 5px solid $bg-prime;

  .list-icon {
    background: $bg-prime;
    background-opacity: .1; 
  }
}

.card-list-second {
  border-left: 5px solid $bg-second;

  .list-icon {
    background: $bg-second;
    background-opacity: .1; 
  }
}
.card-list-third {
  border-left: 5px solid $bg-btn-prime;

  .list-icon {
    background: $bg-btn-prime;
    background-opacity: .1; 
  }
}
