.alert{
	position: fixed !important;
	z-index: 100;
	top: 40px;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 960px;
	line-height: 22px;

	.close {
		position: absolute;
		right: 12px;
		top: 5px;
	}
}

.alert-dismissible .close:active,
.alert-dismissible .close:focus {
	outline: none;
}