.navbar {
	border: 0;
	font-size: 16px;
	border-radius: 0;
	min-height: 50px;
	max-height: 61px;
	background-color: rgba(255, 255, 255, 0.96);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	.navbar-brand {
		font-weight: 400;
		margin: 5px 0px;
		font-size: 20px;
		color: #888888;
		&:hover {
			color: #db6400;
		}
	}
	.navbar-nav {
		.nav-item {
			
		}
		.notification {
			position: absolute;
			background-color: #FB404B;
			text-align: center;
			border-radius: 10px;
			min-width: 18px;
			padding: 0 5px;
			height: 18px;
			font-size: 12px;
			color: #FFFFFF;
			font-weight: bold;
			line-height: 18px;
			top: 10px;
			left: 7px;
		}
	}
	.nc-icon {
		font-weight: 700;
		margin-top: 10px;
	}
}
.navbar-icons {
	.navbar-nav {
		.nav-item {
			.nav-link {
				text-align: center;
				padding: 6px 15px;
				margin: 6px 3px;
				cursor: pointer;
			}
		}
	}
}
.navbar-toggle {
	.navbar-collapse {
		border-color: transparent;
	}
}
.nav-link-2,
.nav-link {

	color: #888888;
	padding: 10px 15px;
	margin: 10px 3px;
	position: relative;
	display: inline-flex;
	line-height: 40px;
	cursor: pointer;
	&:hover {
		color: #1DC7EA;
	}

	.btn-dark-mode {
		padding: 0px 15px;
		border-radius: 100px;
		background: #57b84a;
		color: #fff;
	}
}
.nav-link-2 {
	padding: 0;
	margin: 0px 3px;
}