@import '~bootstrap/scss/bootstrap.scss';
@import "./variable";
@import "./reset";
@import "./util";

.dark-mode {
  	filter: invert(1) hue-rotate(180deg);
	
	.invert {
	  filter: invert(1) hue-rotate(180deg)
	}

	img, picture, video {
	  filter: invert(1) hue-rotate(180deg)
	}
}



.main-panel {
	background: rgba(203, 203, 210, 0.15);
	position: relative;
	float: right;
	width: calc(100% - 260px);
	min-height: 100%;
	overflow: auto;
	max-height: 100%;
	height: 100%;
	-webkit-transition-property: top, bottom;
	transition-property: top, bottom;
	-webkit-transition-duration: .2s, .2s;
	transition-duration: .2s, .2s;
	-webkit-transition-timing-function: linear, linear;
	transition-timing-function: linear, linear;
	-webkit-overflow-scrolling: touch;
	background: rgba(203, 203, 210, 0.15);
	position: relative;
	float: right;
	width: calc(100% - 260px);
	min-height: 100%;
	overflow: auto;
	max-height: 100%;
	height: 100%;
	-webkit-transition-property: top, bottom;
	transition-property: top, bottom;
	-webkit-transition-duration: .2s, .2s;
	transition-duration: .2s, .2s;
	-webkit-transition-timing-function: linear, linear;
	transition-timing-function: linear, linear;
	-webkit-overflow-scrolling: touch;
	>.content {
		padding: 30px 15px;
		min-height: calc(100% - 123px);
		padding: 30px 15px;
		min-height: calc(100% - 123px);
	}
	>.footer {
		border-top: 1px solid #e7e7e7;
		border-top: 1px solid #e7e7e7;
	}
	.navbar {
		margin-bottom: 0;
		margin-bottom: 0;
	}
}


@media (min-width: 992px) {
	.nav-mobile {
		display: none !important;
	}
}

@media (min-width: 768px) {
	.footbar {
		display: none;
	}
}

@media (max-width:  992px) {
	.nav-mobile {
		// padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media (max-width: 767px) {

	.sidebar {
		display: none !important;
	}
	.main-panel {
		width: 100%;
		
		>.content {
			padding-right: 30px;
			padding-left: 30px;

		}
	}
	.card-list .list-area {
		width: calc(100% - 80px)
	}
}
@media (max-width: 576px) {
}