// Size
$header-height:80px;
$logo-width:179px;
$logo-height:67px;
$search-box-width:870px;
$search-box-height:36px;
$new-button-width:90px;
$new-button-height:36px;

// Typography 
$date-size:2.9rem;//40pt;
$day-size:1.1rem;//pt;
$location-size:1.1rem;
$medium-size:1rem;

// Background
$body-bg: #fff;
$bg-prime: #33f;
$bg-second: #00d4ff;
$bg-btn-prime: #57b846;
$bg-btn-second: #33f;

// Color
$primary: #ff7c00;
$secondary: #00777a;
$success: #00c781;
$caution: #ffac00;
$delete: #ef3636;
$info: #86d4d5;
$black: #333333;
$black-medium: #555555;
$black-soft: #999999;
$white: #ffffff;
$disable: #cccccc;

$gray-medium: #ededed;

$tablet: 768px !default

