.loading-area {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  background: rgba(0,0,0, .6);
}

.loading-wrap {
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100px;
}

.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.loading div { box-sizing: content-box; }

.loading div {
  position: absolute;
  width: 40px;
  height: 40px;@keyframes "loading" {
  0% {
    transform: translate(12px,80px) scale(0);
  }
  25% {
    transform: translate(12px,80px) scale(0);
  }
  50% {
    transform: translate(12px,80px) scale(1);
  }
  75% {
    transform: translate(80px,80px) scale(1);
  }
  100% {
    transform: translate(148px,80px) scale(1);
  }
}
@keyframes "loading-r" {
  0% {
    transform: translate(148px,80px) scale(1);
  }
  100% {
    transform: translate(148px,80px) scale(0);
  }
}
@keyframes "loading-c" {
  0% {
    background: #e15b64;
  }
  25% {
    background: #abbd81;
  }
  50% {
    background: #f8b26a;
  }
  75% {
    background: #f47e60;
  }
  100% {
    background: #e15b64;
  }
}
.loading-area {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  background: rgba(0,0,0, .6);
}
.loading-wrap {
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100px;
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  div {
    box-sizing: content-box;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(80px,80px) scale(1);
    background: #e15b64;
    animation: loading 1s infinite cubic-bezier(0,0.5,0.5,1);
    &:nth-child(1) {
      background: #f47e60;
      transform: translate(148px,80px) scale(1);
      animation: loading-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), loading-c 1s infinite step-start;
    }
    &:nth-child(2) {
      animation-delay: -0.25s;
      background: #e15b64;
    }
    &:nth-child(3) {
      animation-delay: -0.5s;
      background: #f47e60;
    }
    &:nth-child(4) {
      animation-delay: -0.75s;
      background: #f8b26a;
    }
    &:nth-child(5) {
      animation-delay: -1s;
      background: #abbd81;
    }
  }
}

  border-radius: 50%;
  transform: translate(80px,80px) scale(1);
  background: #e15b64;
  animation: loading 1s infinite cubic-bezier(0,0.5,0.5,1);
}

.loading div:nth-child(1) {
  background: #f47e60;
  transform: translate(148px,80px) scale(1);
  animation: loading-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), loading-c 1s infinite step-start;
}

.loading div:nth-child(2) {
  animation-delay: -0.25s;
  background: #e15b64;
}

.loading div:nth-child(3) {
  animation-delay: -0.5s;
  background: #f47e60;
}

.loading div:nth-child(4) {
  animation-delay: -0.75s;
  background: #f8b26a;
}

.loading div:nth-child(5) {
  animation-delay: -1s;
  background: #abbd81;
}

@keyframes loading {
   0% { transform: translate(12px,80px) scale(0); }
  25% { transform: translate(12px,80px) scale(0); }
  50% { transform: translate(12px,80px) scale(1); }
  75% { transform: translate(80px,80px) scale(1); }
 100% { transform: translate(148px,80px) scale(1); }
}
@keyframes loading-r {
   0% { transform: translate(148px,80px) scale(1); }
 100% { transform: translate(148px,80px) scale(0); }
}
@keyframes loading-c {
   0% { background: #e15b64 }
  25% { background: #abbd81 }
  50% { background: #f8b26a }
  75% { background: #f47e60 }
 100% { background: #e15b64 }
}