@import "./../../style/variable";

.sidebar {

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 260px;
	display: block;
	z-index: 1;
	color: #fff;
	font-weight: 200;
	background-size: cover;
	background-position: center center;
	overflow: auto;
	max-height: 100%;
	height: 100%;
	-webkit-transition-property: top, bottom;
	transition-property: top, bottom;
	-webkit-transition-duration: .2s, .2s;
	transition-duration: .2s, .2s;
	-webkit-transition-timing-function: linear, linear;
	transition-timing-function: linear, linear;
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	max-height: 100%;
	height: 100%;
	-webkit-transition-property: top, bottom;
	transition-property: top, bottom;
	-webkit-transition-duration: .2s, .2s;
	transition-duration: .2s, .2s;
	-webkit-transition-timing-function: linear, linear;
	transition-timing-function: linear, linear;
	-webkit-overflow-scrolling: touch;

	.nav {
		a {
			-webkit-transition: all 150ms ease-in;
			-moz-transition: all 150ms ease-in;
			-o-transition: all 150ms ease-in;
			-ms-transition: all 150ms ease-in;
			transition: all 150ms ease-in;
		}
		margin-top: 20px;
		float: none;
		display: block;
		li {
			.nav-link {
				color: #FFFFFF;
				margin: 5px 15px;
				opacity: .86;
				border-radius: 4px;
				display: block;
				padding: 10px 15px;
				cursor: pointer;
				&:hover {
					background: rgba(255, 255, 255, 0.13);
					opacity: 1;
				}
				p {
					margin: 0;
					line-height: 31px;
					font-size: 12px;
					font-weight: 600;
					text-transform: uppercase;
					display: inline-flex;
				}
				i {
					font-size: 28px;
					margin-right: 15px;
					width: 30px;
					text-align: center;
					vertical-align: middle;
					float: left;
				}
			}
			.nav-link-active {
				background: rgba(255, 255, 255, 0.13);
				opacity: 1;	
			}
		}
		li.separator {
			margin: 15px 0;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		}
		li.separator+.nav-item {
			margin-top: 31px;
		}
		.nav-item {
			.nc-icon {
				margin-right: 15px;
				font-size: 20px;
			}
		}
		.caret {
			margin-top: 13px;
			position: absolute;
			right: 30px;
		}
		.active-pro {
			position: absolute;
			width: 100%;
			bottom: 10px;
			a {
				color: #FFFFFF !important;
			}
		}
		.nav-link {
			color: #FFFFFF;
			margin: 5px 15px;
			opacity: .86;
			border-radius: 4px;
			text-transform: uppercase;
			line-height: 30px;
			font-size: 12px;
			font-weight: 600;
		}
	}

	.sidebar-wrapper {
		position: relative;
		max-height: calc(100vh - 75px);
		min-height: 100%;
		overflow: auto;
		width: 260px;
		z-index: 4;
		padding-bottom: 100px;

		background: #33f;
		background: -webkit-linear-gradient(-135deg, $bg-prime, $bg-second);
		background: -o-linear-gradient(-135deg, $bg-prime, $bg-second);
		background: -moz-linear-gradient(-135deg, $bg-prime, $bg-second);
		background: linear-gradient(-135deg, $bg-prime, $bg-second);
	}
	.sidebar-background {
		position: absolute;
		z-index: 1;
		height: 100%;
		width: 100%;
		display: block;
		top: 0;
		left: 0;
		background-size: cover;
		background-position: center center;
	}
	.logo {
		padding: 10px 15px 9px 15px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		position: relative;
		z-index: 4;
		padding: 10px 15px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		p {
			float: left;
			font-size: 20px;
			margin: 10px 10px;
			color: #FFFFFF;
			line-height: 20px;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			float: left;
			font-size: 20px;
			margin: 10px 10px;
			color: #FFFFFF;
			line-height: 20px;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
		.simple-text {
			text-transform: uppercase;
			padding: 5px 0px;
			display: block;
			font-size: 18px;
			color: #FFFFFF;
			text-align: center;
			font-weight: 400;
			line-height: 30px;
			text-transform: uppercase;
			padding: 5px 0px;
			display: block;
			font-size: 18px;
			color: #FFFFFF;
			text-align: center;
			font-weight: 400;
			line-height: 30px;
		}
	}
	.logo-tim {
		border-radius: 50%;
		border: 1px solid #333;
		display: block;
		height: 61px;
		width: 61px;
		float: left;
		overflow: hidden;
		border-radius: 50%;
		border: 1px solid #333;
		display: block;
		height: 61px;
		width: 61px;
		float: left;
		overflow: hidden;
		img {
			width: 60px;
			height: 60px;
			width: 60px;
			height: 60px;
		}
	}
	&:after {
		display: block;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
	}
	&:before {
		display: block;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		opacity: .33;
		background: #000000;
	}
}

.footbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 10;
	height: 60px;

	.wrap-footbar {
		width: 50%;
		float: left;
		text-align: center;
		
		.nc-icon {
			color: $black-medium;
			font-size: 20px;
			margin: 10px auto 10px; 
		}

		.text-footbar {
			font-size: 12px;
			color: $black-medium;

		}

		.nav-active {
			.nc-icon {
				color: $bg-prime;
				font-size: 20px;
				margin: 10px auto 10px; 
			}

			.text-footbar {
				font-size: 12px;
				color: $bg-prime;

			}
			
		}
	}
}
