.footer {
	background-color: #FFFFFF;
	.footer-menu {
		height: 41px;
	}
	nav {
		>ul {
			list-style: none;
			margin: 0;
			padding: 0;
			font-weight: normal;
			a {
				&:not(.btn) {
					color: #9A9A9A;
					display: block;
					margin-bottom: 3px;
					&:hover {
						color: #777777;
					}
					&:focus {
						color: #777777;
					}
				}
			}
		}
	}
	.social-area {
		padding: 15px 0;
		h5 {
			padding-bottom: 15px;
		}
		>a {
			&:not(.btn) {
				color: #9A9A9A;
				display: inline-block;
				vertical-align: top;
				padding: 10px 5px;
				font-size: 20px;
				font-weight: normal;
				line-height: 20px;
				text-align: center;
				&:hover {
					color: #777777;
				}
				&:focus {
					color: #777777;
				}
			}
		}
	}
	.copyright {
		color: #777777;
		padding: 10px 15px;
		margin: 10px 3px;
		line-height: 20px;
		font-size: 14px;
	}
	hr {
		border-color: #DDDDDD;
	}
	.title {
		color: #777777;
	}
	&:not(.footer-big) {
		nav {
			>ul {
				font-size: 14px;
				li {
					margin-left: 20px;
					float: left;
				}
				a {
					padding: 10px 0px;
					margin: 10px 10px 10px 0px;
				}
			}
		}
	}
}
.footer-default {
	background-color: #F5F5F5;
}
